.subscribe-input {
	padding: 12px;
	border: 2px solid #000;
	border-radius: 5px;
	margin-bottom: 8px;
	width: 100%;
}

.subscribe-button {
	background: #000;
  	color: #fff;
  	padding: 12px;
  	border: solid 2px #000;
  	outline: none;
  	resize: none;
  	cursor: pointer;
  	margin-bottom: 16px;
  	font-family: Montserrat, sans-serif;
  	border-radius: 5px;
  	width: 100%;
}

@media (min-width: 600px) {
	.subscribe-input {
	    width: 65%;
	    border-radius: 0px;
	    border-bottom-left-radius: 5px;
	    border-top-left-radius: 5px;
	}

	.subscribe-button {
	  	width: 35%;
	  	border-radius: 0px;
	  	border-bottom-right-radius: 5px;
	  	border-top-right-radius: 5px;
	}
}